@import "tailwindcss";

:root {
	--primary: #c2f800;
	--secondary: #0f1115;
	--accent: #222630;
}

@theme inline {
	--color-background: var(--secondary);
	--color-foreground: var(--primary);
	--color-accent: var(--accent);
	--font-primary: var(--font-oswald);
	--font-secondary: var(--font-inter);
}

@utility center {
	@apply flex items-center justify-center;
}

@utility container {
	@apply max-w-7xl mx-auto px-2 md:px-4 xl:px-0;
}

@utility active {
	@apply bg-foreground/10 text-foreground font-semibold;
}

@utility circle {
	@apply w-5 h-5 md:w-6 md:h-6 rounded-full center font-medium;
}
