@import "tailwindcss";

:root {
	--primary: #c2f800;
	--secondary: #0f1115;
	--accent: #222630;
}

@theme inline {
	--color-background: var(--secondary);
	--color-foreground: var(--primary);
	--color-accent: var(--accent);
	--font-primary: var(--font-oswald);
	--font-secondary: var(--font-inter);
}

@utility center {
	@apply flex items-center justify-center;
}

@utility container {
	@apply max-w-7xl mx-auto px-2 md:px-4 xl:px-0;
}

@utility active {
	@apply bg-foreground/10 text-foreground font-semibold;
}

@utility activeTab {
	@apply bg-gray-600/50 rounded-xl font-bold text-white border border-gray-600/80;
}

@utility circle {
	@apply w-5 h-5 md:w-6 md:h-6 rounded-full center font-medium;
}

@utility btn {
	@apply font-bold px-4 py-1 md:py-2 text-sm lg:text-base cursor-pointer disabled:cursor-not-allowed disabled:opacity-50;
}

@utility btn-filled {
	@apply bg-foreground text-background;
}

@utility btn-outline {
	@apply border border-gray-500 text-gray-200;
}

@utility dropdown {
	@apply bg-gray-800/30 px-2.5 py-2 rounded-xl outline-none;

	& > option {
		@apply bg-gray-800;
	}
}
